.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.margin-0 {
  margin: 0;
}


/* Nav Bar section --------------------------------------------*/
.nav-bar {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  justify-content: space-between;
  background: url(images/nav-background-4.jpg) no-repeat fixed;
  background-size: cover;
  background-position: left;
  align-items: center;
  margin: 0;
}

.nav-pages {
  margin-left: 3em;
  display: flex;
  gap: 4em;
  font-size: 1.5em;
  padding: 1em;
}

.nav-pages > a {
  display: inline;
  text-decoration: none;
  color: black;
  border: 1px solid gainsboro;
  border-radius: 6px;
  padding: .5em;
  background-color: grey;
  width: 5em;
}

.nav-links {
  margin-right: 1em;
  display: flex;
  gap: 2em;
  height: 70px;
}

.nav-links > img {
  height: 100%;
  border-radius: 50px;
  border: 1px solid black;
}

/* Nav button styling */

.button-33 {
  background-color: #fbd8c2;
  text-shadow: 2px 2px #033faf;
  border-radius:10px;
  box-shadow: rgba(187, 70, 44, 0.2) 0 -25px 18px -14px inset,rgba(187, 163, 44, 0.15) 0 1px 2px,rgba(187, 142, 44, 0.15) 0 2px 4px,rgba(187, 158, 44, 0.15) 0 4px 8px,rgba(187, 163, 44, 0.15) 0 8px 16px,rgba(187, 149, 44, 0.15) 0 16px 32px;
  color: rgb(213, 142, 11);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 1.2em;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(187, 115, 44, 0.35) 0 -25px 18px -14px inset,rgba(187, 144, 44, 0.25) 0 1px 2px,rgba(187, 92, 44, 0.25) 0 2px 4px,rgba(187, 146, 44, 0.25) 0 4px 8px,rgba(187, 170, 44, 0.25) 0 8px 16px,rgba(187, 139, 44, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

/* About Me Section ---------------------------------------- */
.about-me {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 1rem;
}

.about-me-box {
  display: flex;
  align-items: center;
}

.pfp {
  padding: 1.5em;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  backdrop-filter: blur(10px);
}

.pfp-img {
  height: 100%;
  width: 600px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.about-me-info-box {
  border-radius: 20px;
}

.about-me-text {
  font-size: x-large;
  padding: 0.5em;
  backdrop-filter: blur(10px);
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 20px;
  width: 35em;
}

.about-me-contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: xx-large;
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  width: 25em;
  margin: auto;
  border-radius: 20px;
}

.about-me-links {
  text-shadow: 3px 3px #033faf;
}

.about-me-contact-info > a {
  text-decoration: underline;
  color: white;
}

/* Skill display section --------------------------------------- */
.skill-display {
  width: 50%;
  margin: auto;
}

.skill-logo {
  height: 80px;
  border: 1px solid black;
  border-radius: 40px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.skill-list {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: .5em;
  column-gap: 1em;
  justify-items: center;
  align-items: center;
  backdrop-filter: blur(3.5px);
  border-radius: 50px;
  margin-bottom: 30px;
}

.skill-display-logo {
  padding: 3px;
}

.skill-display > .home-view-skills {
  font-size: 3em;
  text-shadow: 3px 3px #033faf;
  width: 4em;
  margin: auto;
  padding: .3em;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.776) 0px 22px 70px 4px;
  border-radius: 35px;
}

/* Home page project display section ------------------------------------ */
.home-project-display > .home-view-projects-title {
  font-size: 3em;
  text-shadow: 3px 3px #033faf;
  width: 8em;
  margin: auto;
  padding: .3em;
  box-shadow: rgba(0, 0, 0, 0.776) 0px 22px 70px 4px;
  border-radius: 35px;
}

.home-project-display {
  width: 80%;
  margin-bottom: 20px;
  margin: auto;
  padding-bottom: 20px;
}

.home-project-display-elements {
  margin-top: 30px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.home-project-container {
  display: grid;
  grid-template-columns: 60% 40%;
  border-radius: 20px;
  height: 330px;
  width: 700px;
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.776) 0px 22px 70px 4px;
  border: 2px solid black;
}

.home-project-skill {
  height: 45px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.home-project-info {
  padding-left: .5em;
  padding-right: .5em;
}

.project-name {
  text-decoration: underline;
  text-shadow: 2px 2px #033faf;
}

.project-description {
  font-size: 1.15em;
}

.home-project-thumbnail-box {
  max-height: 100%;
  overflow-y:hidden;
}

.home-project-skills {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  justify-items: center;
  align-items: center;
}

.home-project-thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.home-view-projects-title {
  text-decoration: underline;
  font-size: 2rem;
}

.home-view-skills {
  text-decoration: underline;
  font-size: 2rem;
}


/* Scrolling background -------------------------- */

.wrapper {
  background: url(images/background.jpg) no-repeat fixed;
  background-size: cover;
}



/* ---------------------------------------- */


