.App {
  text-align: center;
  overflow-x: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.margin-0 {
  margin: 0;
}


/* Nav Bar section --------------------------------------------*/
.nav-bar {
  z-index: 5318008;
  position: fixed;
  width: 100%;
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

@media only screen and (max-width: 82em) {
  .nav-bar {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}

.nav-pages {
  margin-left: 3em;
  display: flex;
  gap: 4rem;
  font-size: 1.5em;
  padding: 0.5em;
  width: auto;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .nav-pages {
    margin-left: 0;
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 82em) {
  .nav-pages{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
}

.nav-links {
  margin-right: 1em;
  display: flex;
  gap: 2em;
  height: 70px;
  border-radius: 50px;
  transition: all 450ms;
}

.nav-links :hover {
  box-shadow: rgba(134, 53, 233, 0.35) 0 -25px 18px -14px inset,rgba(146, 30, 218, 0.25) 0 1px 2px,rgba(176, 24, 231, 0.25) 0 2px 4px,rgba(158, 24, 225, 0.25) 0 4px 8px,rgba(155, 21, 212, 0.25) 0 8px 16px,rgba(157, 29, 220, 0.25) 0 16px 32px;
  transform: scale(1.1) rotate(4deg);
  cursor: pointer;
}

.nav-links > a > img {
  height: 100%;
  border-radius: 50px;
  border: 1px solid black;
  transition: all 450ms;
}

/* Nav button styling */

.button-33 {
  background-color: #003075;
  text-shadow: 2px 2px rgb(180, 7, 180);
  border-radius:10px;
  box-shadow: rgba(21, 68, 236, 0.2) 0 -25px 18px -14px inset,rgba(26, 97, 221, 0.15) 0 1px 2px,rgba(40, 64, 220, 0.15) 0 2px 4px,rgba(21, 70, 192, 0.15) 0 4px 8px,rgba(28, 72, 218, 0.15) 0 8px 16px,rgba(31, 58, 238, 0.15) 0 16px 32px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Titillium Web', sans-serif;  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 1.2em;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border: .1px solid black;
}

.button-33:hover {
  box-shadow: rgba(134, 53, 233, 0.35) 0 -25px 18px -14px inset,rgba(146, 30, 218, 0.25) 0 1px 2px,rgba(176, 24, 231, 0.25) 0 2px 4px,rgba(158, 24, 225, 0.25) 0 4px 8px,rgba(155, 21, 212, 0.25) 0 8px 16px,rgba(157, 29, 220, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
  border: .1px solid white;
}

/* About Me Section ---------------------------------------- */
.about-me {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  .about-me {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 82em) {
  .about-me {
    flex-wrap: wrap;
  }
}

.about-me-box {
  display: flex;
  align-items: center;
  width: 60%;
  height: 100%;
  margin: auto;
  justify-content: center;
}

.pfp {
  width: 40%;
  padding: 1.5em;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  backdrop-filter: blur(10px);
}

.pfp-img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transform: scaleX(-1);
  float: left;
  shape-outside: circle();
}

.pfp :hover {
  /* box-shadow: rgba(134, 53, 233, 0.35) 0 -25px 18px -14px inset,rgba(146, 30, 218, 0.25) 0 1px 2px,rgba(176, 24, 231, 0.25) 0 2px 4px,rgba(158, 24, 225, 0.25) 0 4px 8px,rgba(155, 21, 212, 0.25) 0 8px 16px,rgba(157, 29, 220, 0.25) 0 16px 32px;
  transform: scale(1) rotate(2deg);
  transition: 400ms; */
}

.about-me-info-box {
  border-radius: 20px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 82em) {
  .about-me-info-box {
    width: 100%;
    margin: auto;
  }
}

.about-me-text {
  font-size: 2em;
  font-family: 'Heebo', sans-serif;
  padding: 0.5em;
  backdrop-filter: blur(10px);
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 20px;
  width: 100%;
  text-align: left;
}

.about-me-contact-info {
  font-family: 'Heebo', sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: xx-large;
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  width: 100%;
  margin: auto;
  border-radius: 20px;
}

@media only screen and (max-width: 650px) {
  .about-me-contact-info{
    font-size: large;
    width: 260px;
    padding-bottom: 10px;
  }
}

.about-me-links {
  text-shadow: 2px 2px rgb(180, 7, 180);
  transition: all 250ms;
}

.about-me-links:hover {
  box-shadow: rgba(134, 53, 233, 0.35) 0 -25px 18px -14px inset,rgba(146, 30, 218, 0.25) 0 1px 2px,rgba(176, 24, 231, 0.25) 0 2px 4px,rgba(158, 24, 225, 0.25) 0 4px 8px,rgba(155, 21, 212, 0.25) 0 8px 16px,rgba(157, 29, 220, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(2deg);
  transition: 400ms;
  border-radius: 15%;
}

.about-me-contact-info > a {
  text-decoration: underline;
  color: white;
}


/* Skill display section --------------------------------------- */
.skill-display {
  width: 50%;
  margin: auto;
}

.skill-logo {
  height: 80px;
  border: 5px solid white;
  scale: 0.8;
  border-radius: 25%;
  background-color: white;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

@media only screen and (max-width: 82em) {
  .skill-logo{
    height: 60px;
  }
}

.skill-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: .5em;
  column-gap: 1em;
  justify-items: center;
  align-items: center;
  backdrop-filter: blur(3.5px);
  border-radius: 50px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 82em) {
  .skill-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}

.skill-display-logo {
  padding: 3px;
}

.skill-display > .home-view-skills {
  font-size: 3em;
  font-family: 'Titillium Web', sans-serif;
  padding: 7px 20px;
  text-shadow: 2px 2px rgb(180, 7, 180);
  width: 4em;
  margin: auto;
  padding: .3em;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0) 0px 22px 70px 4px;
  background-color: rgba(14, 10, 95, 0.7);
  border-radius: 35px;
}

/* Home page project display section ------------------------------------ */
.home-project-display > .home-view-projects-title {
  font-size: 3em;
  text-shadow: 2px 2px rgb(180, 7, 180);
  width: 8em;
  margin: auto;
  padding: .3em;
  box-shadow: rgba(0, 0, 0, 0.776) 0px 22px 70px 4px;
  border-radius: 35px;
  border: .1px solid black;
}

@media only screen and (max-width: 82em) {
  .home-project-display > .home-view-projects-title{
    font-size: 2.5em;
  }
}

.home-project-display {
  width: 90%;
  margin-bottom: 20px;
  margin: auto;
  padding-bottom: 20px;
}

.home-project-display-elements {
  margin: auto;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.home-project-container {
  font-family: 'Heebo', sans-serif;
  display: grid;
  grid-template-columns: 55% 45%;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.776) 0px 22px 70px 4px;
  border: 1px solid black;
}

@media only screen and (max-width: 82em) {
  .home-project-display-elements {
    grid-template-columns: 1fr;
    width: 60%;
  }
}

@media only screen and (max-width: 82em) {
  .home-project-display-elements {
    display: flex;
    flex-direction: column;
    font-size: medium;
  }
}

@media only screen and (max-width: 82em) {
  .home-project-container{
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 82em) {
  .home-project-thumbnail-box{
  }
}

@media only screen and (max-width: 82em) {
  .home-project-thumbnail{
    border-radius: 100%;
  }
}

.home-project-container:hover {
  box-shadow: rgba(134, 53, 233, 0.35) 0 -25px 18px -14px inset,rgba(146, 30, 218, 0.25) 0 1px 2px,rgba(176, 24, 231, 0.25) 0 2px 4px,rgba(158, 24, 225, 0.25) 0 4px 8px,rgba(155, 21, 212, 0.25) 0 8px 16px,rgba(157, 29, 220, 0.25) 0 16px 32px;
  cursor: pointer;
  border: 1px solid white;
}

.home-project-skill {
  margin-top: 15px;
  height: 45px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.home-project-info {
  padding-left: .5em;
  padding-right: .5em;
  height: 100%;
}

.project-name {
  text-decoration: underline;
  text-shadow:2px 2px rgb(180, 7, 180);
  font-family: 'Titillium Web', sans-serif;  padding: 7px 20px;
  transition: all 250ms;
  border-radius: 100%;
  font-size: xx-large;
  padding: 0;
}

.project-description {
  font-size: 1.15em;
  margin: 0;
  margin-top: 10px;
}

.home-project-thumbnail-box {
  display: flex;
  max-height: 100%;
  overflow-y:hidden;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}

.home-project-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 8px;
  justify-items: center;
  align-items: center;
}

.home-project-thumbnail {
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 20px 0px 0px 20px;
}

.source-code-link {
  background-color: #00307599;
  color: white;
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  text-shadow: 2px 2px rgb(180, 7, 180);
  border: 1px solid black;
}

.source-code-link:hover {
  box-shadow: rgba(134, 53, 233, 0.35) 0 -25px 18px -14px inset,rgba(146, 30, 218, 0.25) 0 1px 2px,rgba(176, 24, 231, 0.25) 0 2px 4px,rgba(158, 24, 225, 0.25) 0 4px 8px,rgba(155, 21, 212, 0.25) 0 8px 16px,rgba(157, 29, 220, 0.25) 0 16px 32px;
  cursor: pointer;
  border: 1px solid white;
}

.home-view-projects-title {
  text-decoration: underline;
  font-size: rem;
  font-family: 'Titillium Web', sans-serif;  padding: 7px 20px;
  transition: all 250ms;
  background-color: rgba(14, 10, 95, 0.7);
}

.home-view-projects-title:hover{
  box-shadow: rgba(134, 53, 233, 0.35) 0 -25px 18px -14px inset,rgba(146, 30, 218, 0.25) 0 1px 2px,rgba(176, 24, 231, 0.25) 0 2px 4px,rgba(158, 24, 225, 0.25) 0 4px 8px,rgba(155, 21, 212, 0.25) 0 8px 16px,rgba(157, 29, 220, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(1deg);
  border: .1px solid white;
  background-color: rgba(14, 10, 95, 0.7);
}

.home-view-skills {
  text-decoration: underline;
  font-size: 2rem;
}

/* ---------------------------------------------------------- */
.cv-button-div {
  padding: 4em;
}

.cv-button {
  color: white;
  border: 1px solid black;
  text-decoration: underline;
  font-size: 4em;
  font-family: 'Titillium Web', sans-serif;  padding: 7px 20px;
  transition: all 250ms;
  background-color: rgba(9, 1, 157, 0.7);
  border-radius: 20px;
  text-shadow: 2px 2px rgb(180, 7, 180);
}

.cv-button:hover {
  box-shadow: rgba(134, 53, 233, 0.35) 0 -25px 18px -14px inset,rgba(146, 30, 218, 0.25) 0 1px 2px,rgba(176, 24, 231, 0.25) 0 2px 4px,rgba(158, 24, 225, 0.25) 0 4px 8px,rgba(155, 21, 212, 0.25) 0 8px 16px,rgba(157, 29, 220, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(1deg);
  border: 1px solid white;
  background-color: rgba(14, 10, 95);
  cursor: pointer;
}

/* Scrolling background -------------------------- */

.wrapper {
  margin-top: 85px;
  background: url(images/background.jpg) no-repeat fixed;
  background-size: cover;
  padding: 0.5em;
}



/* ---------------------------------------- */

